.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .left {
        display: flex;
        align-items: center;

        .spacer {
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }

    .right {
        display: flex;

        .spacer {
            margin-left: .25rem;
            margin-right: .25rem;
        }

        
    }
}